---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<h1>Test AstroDB</h1>

<h2>Skjema</h2>

<form method="POST" style="display: grid">
  
  <label for="fornavn">Fornavn:</label>
  <input id="fornavn" name="fornavn" />

  <label for="etternavn">Etternavn:</label>
  <input id="etternavn" name="etternavn" />

  <button type="submit">Trykk</button>

</form>
</Layout>
